layout pyenv 3.7.13
dotenv
# So we can run scripts from top level and in sub directories
export PYTHONPATH="$PWD"
# https://docs.python.org/3/library/devmode.html
export PYTHONDEVMODE="1"
export PYTHONUNBUFFERED="1"
