# Folders
simulations
**/lab_examples
wh_lfrsuffleNo*

# Files
new_matrix.txt
matrix_small.txt
matrix_dump.txt
*.m

# Exceptions from the rules above
!serpent_analysis/learning_serpent/**

# Work files
*.xlsx

# Image Files
*.png
*.gif

# Memory files
.nfs*
core.*

# Serpent related
*.bumat*
*.dep
*.seed
*.wrk
*.out

# Swap files
*.swp

# SSH
.ssh

# VScode
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.direnv
test/
.python_env

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
data/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.gitignore



# On the fly (to be cleared manualy after finishing the scripts)
00_py_scripts/03_get_absKeff/01_220d_2_step_no_opti_tsu
00_py_scripts/03_get_absKeff/02_220d_3_step_no_opti_tsu
00_py_scripts/03_get_absKeff/03_220d_5_step_no_opti_tsu
python_scripts/get_absKeff/01_120cm_280d/fuel.inp
python_scripts/get_absKeff/01_120cm_280d/get_keff.py
python_scripts/get_absKeff/01_120cm_280d/hosts_olds
python_scripts/get_absKeff/01_120cm_280d/Job.qsub
python_scripts/get_absKeff/01_120cm_280d/JobSimpleTSU.qsub
python_scripts/get_absKeff/01_120cm_280d/JobTSU.qsub
python_scripts/get_absKeff/01_120cm_280d/restart.sh
python_scripts/get_absKeff/01_120cm_280d/Shuffling.py
python_scripts/get_absKeff/01_120cm_280d/tmux_layout.sh
python_scripts/get_absKeff/01_120cm_280d/wh_lfr
python_scripts/get_absKeff/01_120cm_280d/input/appendix.inp
python_scripts/get_absKeff/01_120cm_280d/input/fa.inp
python_scripts/get_absKeff/01_120cm_280d/input/fuel.inp
python_scripts/get_absKeff/01_120cm_280d/input/materials.inp
python_scripts/get_absKeff/01_120cm_280d/input/pins.inp
python_scripts/get_absKeff/01_120cm_280d/input/stuctural_mat.inp
python_scripts/get_absKeff/01_120cm_280d/input/120cm/core_3d.inp
python_scripts/get_absKeff/01_120cm_280d/input/120cm/mvol.inp
python_scripts/get_absKeff/01_120cm_280d/input/222cm/core_3d.inp
python_scripts/get_absKeff/01_120cm_280d/input/222cm/mvol.inp
python_scripts/get_absKeff/01_120cm_280d/input/lp/core_lp_SF1bis.inp
python_scripts/get_absKeff/01_120cm_280d/input/lp/core_lp_SF3.inp
python_scripts/get_absKeff/01_120cm_280d/input/lp/core_lp_SF4.inp
python_scripts/get_absKeff/02_120cm_400d/fuel.inp
python_scripts/get_absKeff/02_120cm_400d/get_keff.py
python_scripts/get_absKeff/02_120cm_400d/hosts_olds
python_scripts/get_absKeff/02_120cm_400d/Job.qsub
python_scripts/get_absKeff/02_120cm_400d/JobSimpleTSU.qsub
python_scripts/get_absKeff/02_120cm_400d/JobTSU.qsub
python_scripts/get_absKeff/02_120cm_400d/restart.sh
python_scripts/get_absKeff/02_120cm_400d/Shuffling.py
python_scripts/get_absKeff/02_120cm_400d/tmux_layout.sh
python_scripts/get_absKeff/02_120cm_400d/wh_lfr
python_scripts/get_absKeff/02_120cm_400d/input/appendix.inp
python_scripts/get_absKeff/02_120cm_400d/input/fa.inp
python_scripts/get_absKeff/02_120cm_400d/input/fuel.inp
python_scripts/get_absKeff/02_120cm_400d/input/materials.inp
python_scripts/get_absKeff/02_120cm_400d/input/pins.inp
python_scripts/get_absKeff/02_120cm_400d/input/stuctural_mat.inp
python_scripts/get_absKeff/02_120cm_400d/input/120cm/core_3d.inp
python_scripts/get_absKeff/02_120cm_400d/input/120cm/mvol.inp
python_scripts/get_absKeff/02_120cm_400d/input/222cm/core_3d.inp
python_scripts/get_absKeff/02_120cm_400d/input/222cm/mvol.inp
python_scripts/get_absKeff/02_120cm_400d/input/lp/core_lp_SF1bis.inp
python_scripts/get_absKeff/02_120cm_400d/input/lp/core_lp_SF3.inp
python_scripts/get_absKeff/02_120cm_400d/input/lp/core_lp_SF4.inp
python_scripts/get_nuclides/01_120cm_280d/fuel.inp
python_scripts/get_nuclides/01_120cm_280d/get_keff.py
python_scripts/get_nuclides/01_120cm_280d/hosts_olds
python_scripts/get_nuclides/01_120cm_280d/Job.qsub
python_scripts/get_nuclides/01_120cm_280d/JobSimpleTSU.qsub
python_scripts/get_nuclides/01_120cm_280d/JobTSU.qsub
python_scripts/get_nuclides/01_120cm_280d/restart.sh
python_scripts/get_nuclides/01_120cm_280d/Shuffling.py
python_scripts/get_nuclides/01_120cm_280d/tmux_layout.sh
python_scripts/get_nuclides/01_120cm_280d/wh_lfr
python_scripts/get_nuclides/01_120cm_280d/input/appendix.inp
python_scripts/get_nuclides/01_120cm_280d/input/fa.inp
python_scripts/get_nuclides/01_120cm_280d/input/fuel.inp
python_scripts/get_nuclides/01_120cm_280d/input/materials.inp
python_scripts/get_nuclides/01_120cm_280d/input/pins.inp
python_scripts/get_nuclides/01_120cm_280d/input/stuctural_mat.inp
python_scripts/get_nuclides/01_120cm_280d/input/120cm/core_3d.inp
python_scripts/get_nuclides/01_120cm_280d/input/120cm/mvol.inp
python_scripts/get_nuclides/01_120cm_280d/input/222cm/core_3d.inp
python_scripts/get_nuclides/01_120cm_280d/input/222cm/mvol.inp
python_scripts/get_nuclides/01_120cm_280d/input/lp/core_lp_SF1bis.inp
python_scripts/get_nuclides/01_120cm_280d/input/lp/core_lp_SF3.inp
python_scripts/get_nuclides/01_120cm_280d/input/lp/core_lp_SF4.inp
.gitignore
python_scripts/get_nuclides/02_120cm_400d/fuel.inp
python_scripts/get_nuclides/02_120cm_400d/get_keff.py
python_scripts/get_nuclides/02_120cm_400d/hosts_olds
python_scripts/get_nuclides/02_120cm_400d/Job.qsub
python_scripts/get_nuclides/02_120cm_400d/JobSimpleTSU.qsub
python_scripts/get_nuclides/02_120cm_400d/JobTSU.qsub
python_scripts/get_nuclides/02_120cm_400d/restart.sh
python_scripts/get_nuclides/02_120cm_400d/Shuffling.py
python_scripts/get_nuclides/02_120cm_400d/tmux_layout.sh
python_scripts/get_nuclides/02_120cm_400d/wh_lfr
python_scripts/get_nuclides/02_120cm_400d/input/appendix.inp
python_scripts/get_nuclides/02_120cm_400d/input/fa.inp
python_scripts/get_nuclides/02_120cm_400d/input/fuel.inp
python_scripts/get_nuclides/02_120cm_400d/input/materials.inp
python_scripts/get_nuclides/02_120cm_400d/input/pins.inp
python_scripts/get_nuclides/02_120cm_400d/input/stuctural_mat.inp
python_scripts/get_nuclides/02_120cm_400d/input/120cm/core_3d.inp
python_scripts/get_nuclides/02_120cm_400d/input/120cm/mvol.inp
python_scripts/get_nuclides/02_120cm_400d/input/222cm/core_3d.inp
python_scripts/get_nuclides/02_120cm_400d/input/222cm/mvol.inp
python_scripts/get_nuclides/02_120cm_400d/input/lp/core_lp_SF1bis.inp
python_scripts/get_nuclides/02_120cm_400d/input/lp/core_lp_SF3.inp
python_scripts/get_nuclides/02_120cm_400d/input/lp/core_lp_SF4.inp

py_analysis_scripts/compare_nuclides/02_400d/fuel.inp
py_analysis_scripts/compare_nuclides/02_400d/get_keff.py
py_analysis_scripts/compare_nuclides/02_400d/hosts_olds
py_analysis_scripts/compare_nuclides/02_400d/Job.qsub
py_analysis_scripts/compare_nuclides/02_400d/JobSimpleTSU.qsub
py_analysis_scripts/compare_nuclides/02_400d/JobTSU.qsub
py_analysis_scripts/compare_nuclides/02_400d/restart.sh
py_analysis_scripts/compare_nuclides/02_400d/Shuffling.py
py_analysis_scripts/compare_nuclides/02_400d/tmux_layout.sh
py_analysis_scripts/compare_nuclides/02_400d/wh_lfr
py_analysis_scripts/compare_nuclides/02_400d/input/appendix.inp
py_analysis_scripts/compare_nuclides/02_400d/input/fa.inp
py_analysis_scripts/compare_nuclides/02_400d/input/fuel.inp
py_analysis_scripts/compare_nuclides/02_400d/input/materials.inp
py_analysis_scripts/compare_nuclides/02_400d/input/pins.inp
py_analysis_scripts/compare_nuclides/02_400d/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/02_400d/input/120cm/core_3d.inp
py_analysis_scripts/compare_nuclides/02_400d/input/120cm/mvol.inp
py_analysis_scripts/compare_nuclides/02_400d/input/222cm/core_3d.inp
py_analysis_scripts/compare_nuclides/02_400d/input/222cm/mvol.inp
py_analysis_scripts/compare_nuclides/02_400d/input/lp/core_lp_SF1bis.inp
py_analysis_scripts/compare_nuclides/02_400d/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/02_400d/input/lp/core_lp_SF4.inp
py_analysis_scripts/compare_nuclides/01_280d/fuel.inp
py_analysis_scripts/compare_nuclides/01_280d/get_keff.py
py_analysis_scripts/compare_nuclides/01_280d/hosts_olds
py_analysis_scripts/compare_nuclides/01_280d/Job.qsub
py_analysis_scripts/compare_nuclides/01_280d/JobSimpleTSU.qsub
py_analysis_scripts/compare_nuclides/01_280d/JobTSU.qsub
py_analysis_scripts/compare_nuclides/01_280d/restart.sh
py_analysis_scripts/compare_nuclides/01_280d/Shuffling.py
py_analysis_scripts/compare_nuclides/01_280d/tmux_layout.sh
py_analysis_scripts/compare_nuclides/01_280d/wh_lfr
py_analysis_scripts/compare_nuclides/01_280d/input/appendix.inp
py_analysis_scripts/compare_nuclides/01_280d/input/fa.inp
py_analysis_scripts/compare_nuclides/01_280d/input/fuel.inp
py_analysis_scripts/compare_nuclides/01_280d/input/materials.inp
py_analysis_scripts/compare_nuclides/01_280d/input/pins.inp
py_analysis_scripts/compare_nuclides/01_280d/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/01_280d/input/120cm/core_3d.inp
py_analysis_scripts/compare_nuclides/01_280d/input/120cm/mvol.inp
py_analysis_scripts/compare_nuclides/01_280d/input/222cm/core_3d.inp
py_analysis_scripts/compare_nuclides/01_280d/input/222cm/mvol.inp
py_analysis_scripts/compare_nuclides/01_280d/input/lp/core_lp_SF1bis.inp
py_analysis_scripts/compare_nuclides/01_280d/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/01_280d/input/lp/core_lp_SF4.inp
py_analysis_scripts/get_absKeff/K-effs.csv
py_analysis_scripts/get_BU_data/DischargedFuel_nuclides.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_0.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_200.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_450.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_50.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_400.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_700.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_1050.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_525.csv
py_input_generation_scripts/create_sims/output_files/*
py_input_generation_scripts/create_sims/input_template/*
py_analysis_scripts/get_keff_all_fa/keff_values.csv
py_input_generation_scripts/startup_core_fuel/fuel.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/fuel.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/get_flux.py
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/get_keff_old.py
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/get_keff.py
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/get_pwr.py
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/go_interactive.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/hosts_olds
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/hosts_olds.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/Job.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/JobSimpleTSU.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/JobTSU.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/JobTSU.qsub.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/print_bu_data.py
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/restart.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/Shuffling.py
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/tmux_layout.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/wh_lfr
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/appendix.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/clad.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/cr.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/detectors.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/fa.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/fuel_fresh.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/fuel_fresh.inp.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/fuel.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/materials.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/pins.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/stuctural_mat.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/study_cases.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/220cm/core_3d.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/220cm/mvol.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/03_enr_1.2x_shifted_8/input/lp/core_lp_SF3.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/fuel.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/get_flux.py
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/get_keff_old.py
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/get_keff.py
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/get_pwr.py
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/go_interactive.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/hosts_olds
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/hosts_olds.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/Job.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/Job.qsub.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/JobSimpleTSU.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/JobTSU.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/JobTSU.qsub.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/print_bu_data.py
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/restart.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/Shuffling.py
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/tmux_layout.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/wh_lfr
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/appendix.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/clad.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/cr.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/detectors.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/fa.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/fuel.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/materials.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/pins.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/stuctural_mat.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/study_cases.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/220cm/core_3d.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/220cm/mvol.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/15_enr_1.15x_shifted_8_freshFA_U19-22_1.3er_U33-34_1.05er_3prog_cy/input/lp/core_lp_SF3.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/fuel.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/get_flux.py
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/get_keff_old.py
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/get_keff.py
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/get_pwr.py
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/go_interactive.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/hosts_olds
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/hosts_olds.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/Job.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/Job.qsub.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/JobSimpleTSU.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/JobTSU.qsub
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/JobTSU.qsub.bak
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/print_bu_data.py
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/restart.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/Shuffling.py
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/tmux_layout.sh
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/wh_lfr
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/appendix.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/clad.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/cr.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/detectors.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/fa.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/fuel.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/materials.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/pins.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/stuctural_mat.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/study_cases.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/220cm/core_3d.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/220cm/mvol.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/power_profile_comparison/cases_cpd/23_enr_1.5x_8cy_long1400/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/03_sim2/core_lp_SF3.txt
py_analysis_scripts/compare_nuclides/03_sim2/fuel.inp
py_analysis_scripts/compare_nuclides/03_sim2/get_flux.py
py_analysis_scripts/compare_nuclides/03_sim2/get_keff_old.py
py_analysis_scripts/compare_nuclides/03_sim2/get_keff.py
py_analysis_scripts/compare_nuclides/03_sim2/get_pwr.py
py_analysis_scripts/compare_nuclides/03_sim2/go_interactive.sh
py_analysis_scripts/compare_nuclides/03_sim2/hosts_olds
py_analysis_scripts/compare_nuclides/03_sim2/hosts_olds.bak
py_analysis_scripts/compare_nuclides/03_sim2/Job.qsub
py_analysis_scripts/compare_nuclides/03_sim2/JobSimpleTSU.qsub
py_analysis_scripts/compare_nuclides/03_sim2/JobTSU.qsub
py_analysis_scripts/compare_nuclides/03_sim2/JobTSU.qsub.bak
py_analysis_scripts/compare_nuclides/03_sim2/print_bu_data.py
py_analysis_scripts/compare_nuclides/03_sim2/restart.sh
py_analysis_scripts/compare_nuclides/03_sim2/Shuffling.py
py_analysis_scripts/compare_nuclides/03_sim2/tmux_layout.sh
py_analysis_scripts/compare_nuclides/03_sim2/wh_lfr
py_analysis_scripts/compare_nuclides/03_sim2/input/appendix.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/clad.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/cr.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/detectors.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/fa.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/fuel_fresh.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/fuel_fresh.inp.bak
py_analysis_scripts/compare_nuclides/03_sim2/input/fuel.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/materials.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/pins.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/study_cases.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/220cm/core_3d.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/220cm/mvol.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/compare_nuclides/03_sim2/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/15_sim/core_lp_SF3.txt
py_analysis_scripts/compare_nuclides/15_sim/fuel.inp
py_analysis_scripts/compare_nuclides/15_sim/get_flux.py
py_analysis_scripts/compare_nuclides/15_sim/get_keff_old.py
py_analysis_scripts/compare_nuclides/15_sim/get_keff.py
py_analysis_scripts/compare_nuclides/15_sim/get_pwr.py
py_analysis_scripts/compare_nuclides/15_sim/go_interactive.sh
py_analysis_scripts/compare_nuclides/15_sim/hosts_olds
py_analysis_scripts/compare_nuclides/15_sim/hosts_olds.bak
py_analysis_scripts/compare_nuclides/15_sim/Job.qsub
py_analysis_scripts/compare_nuclides/15_sim/Job.qsub.bak
py_analysis_scripts/compare_nuclides/15_sim/JobSimpleTSU.qsub
py_analysis_scripts/compare_nuclides/15_sim/JobTSU.qsub
py_analysis_scripts/compare_nuclides/15_sim/JobTSU.qsub.bak
py_analysis_scripts/compare_nuclides/15_sim/print_bu_data.py
py_analysis_scripts/compare_nuclides/15_sim/restart.sh
py_analysis_scripts/compare_nuclides/15_sim/Shuffling.py
py_analysis_scripts/compare_nuclides/15_sim/tmux_layout.sh
py_analysis_scripts/compare_nuclides/15_sim/wh_lfr
py_analysis_scripts/compare_nuclides/15_sim/input/appendix.inp
py_analysis_scripts/compare_nuclides/15_sim/input/clad.inp
py_analysis_scripts/compare_nuclides/15_sim/input/cr.inp
py_analysis_scripts/compare_nuclides/15_sim/input/detectors.inp
py_analysis_scripts/compare_nuclides/15_sim/input/fa.inp
py_analysis_scripts/compare_nuclides/15_sim/input/fuel.inp
py_analysis_scripts/compare_nuclides/15_sim/input/materials.inp
py_analysis_scripts/compare_nuclides/15_sim/input/pins.inp
py_analysis_scripts/compare_nuclides/15_sim/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/15_sim/input/study_cases.inp
py_analysis_scripts/compare_nuclides/15_sim/input/220cm/core_3d.inp
py_analysis_scripts/compare_nuclides/15_sim/input/220cm/mvol.inp
py_analysis_scripts/compare_nuclides/15_sim/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/compare_nuclides/15_sim/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/wh_lfr
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/appendix.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/clad.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/cr.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/detectors.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/fa.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/fuel_fresh.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/fuel_fresh.inp.bak
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/fuel.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/materials.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/pins.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/study_cases.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/220cm/core_3d.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/220cm/mvol.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/compare_nuclides/03_enr_1.2x/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/wh_lfr
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/appendix.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/clad.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/cr.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/detectors.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/fa.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/fuel.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/materials.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/pins.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/study_cases.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/220cm/core_3d.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/220cm/mvol.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/compare_nuclides/15_enr_1.15x/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/wh_lfr
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/appendix.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/clad.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/cr.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/detectors.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/fa.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/fuel.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/materials.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/pins.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/study_cases.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/220cm/core_3d.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/220cm/mvol.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/lp/core_lp_SF3_wt_CR.inp
py_analysis_scripts/compare_nuclides/23_enr_1.5x/input/lp/core_lp_SF3.inp
