# Folders
simulations
**/lab_examples
wh_lfrsuffleNo*

# Files
new_matrix.txt
matrix_small.txt
matrix_dump.txt
*.m

# Exceptions from the rules above
!serpent_analysis/learning_serpent/**

# Work files
*.xlsx

# Image Files
*.png

# Memory files
.nfs*
core.*

# Serpent related
*.bumat*
*.dep
*.seed
*.wrk
*.out

# Swap files
*.swp

# SSH
.ssh

# VScode
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.direnv
test/
.python_env

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
data/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.gitignore



# On the fly (to be cleared manualy after finishing the scripts)
00_py_scripts/03_get_absKeff/01_220d_2_step_no_opti_tsu
00_py_scripts/03_get_absKeff/02_220d_3_step_no_opti_tsu
00_py_scripts/03_get_absKeff/03_220d_5_step_no_opti_tsu
python_scripts/get_absKeff/01_120cm_280d/fuel.inp
python_scripts/get_absKeff/01_120cm_280d/get_keff.py
python_scripts/get_absKeff/01_120cm_280d/hosts_olds
python_scripts/get_absKeff/01_120cm_280d/Job.qsub
python_scripts/get_absKeff/01_120cm_280d/JobSimpleTSU.qsub
python_scripts/get_absKeff/01_120cm_280d/JobTSU.qsub
python_scripts/get_absKeff/01_120cm_280d/restart.sh
python_scripts/get_absKeff/01_120cm_280d/Shuffling.py
python_scripts/get_absKeff/01_120cm_280d/tmux_layout.sh
python_scripts/get_absKeff/01_120cm_280d/wh_lfr
python_scripts/get_absKeff/01_120cm_280d/input/appendix.inp
python_scripts/get_absKeff/01_120cm_280d/input/fa.inp
python_scripts/get_absKeff/01_120cm_280d/input/fuel.inp
python_scripts/get_absKeff/01_120cm_280d/input/materials.inp
python_scripts/get_absKeff/01_120cm_280d/input/pins.inp
python_scripts/get_absKeff/01_120cm_280d/input/stuctural_mat.inp
python_scripts/get_absKeff/01_120cm_280d/input/120cm/core_3d.inp
python_scripts/get_absKeff/01_120cm_280d/input/120cm/mvol.inp
python_scripts/get_absKeff/01_120cm_280d/input/222cm/core_3d.inp
python_scripts/get_absKeff/01_120cm_280d/input/222cm/mvol.inp
python_scripts/get_absKeff/01_120cm_280d/input/lp/core_lp_SF1bis.inp
python_scripts/get_absKeff/01_120cm_280d/input/lp/core_lp_SF3.inp
python_scripts/get_absKeff/01_120cm_280d/input/lp/core_lp_SF4.inp
python_scripts/get_absKeff/02_120cm_400d/fuel.inp
python_scripts/get_absKeff/02_120cm_400d/get_keff.py
python_scripts/get_absKeff/02_120cm_400d/hosts_olds
python_scripts/get_absKeff/02_120cm_400d/Job.qsub
python_scripts/get_absKeff/02_120cm_400d/JobSimpleTSU.qsub
python_scripts/get_absKeff/02_120cm_400d/JobTSU.qsub
python_scripts/get_absKeff/02_120cm_400d/restart.sh
python_scripts/get_absKeff/02_120cm_400d/Shuffling.py
python_scripts/get_absKeff/02_120cm_400d/tmux_layout.sh
python_scripts/get_absKeff/02_120cm_400d/wh_lfr
python_scripts/get_absKeff/02_120cm_400d/input/appendix.inp
python_scripts/get_absKeff/02_120cm_400d/input/fa.inp
python_scripts/get_absKeff/02_120cm_400d/input/fuel.inp
python_scripts/get_absKeff/02_120cm_400d/input/materials.inp
python_scripts/get_absKeff/02_120cm_400d/input/pins.inp
python_scripts/get_absKeff/02_120cm_400d/input/stuctural_mat.inp
python_scripts/get_absKeff/02_120cm_400d/input/120cm/core_3d.inp
python_scripts/get_absKeff/02_120cm_400d/input/120cm/mvol.inp
python_scripts/get_absKeff/02_120cm_400d/input/222cm/core_3d.inp
python_scripts/get_absKeff/02_120cm_400d/input/222cm/mvol.inp
python_scripts/get_absKeff/02_120cm_400d/input/lp/core_lp_SF1bis.inp
python_scripts/get_absKeff/02_120cm_400d/input/lp/core_lp_SF3.inp
python_scripts/get_absKeff/02_120cm_400d/input/lp/core_lp_SF4.inp
python_scripts/get_nuclides/01_120cm_280d/fuel.inp
python_scripts/get_nuclides/01_120cm_280d/get_keff.py
python_scripts/get_nuclides/01_120cm_280d/hosts_olds
python_scripts/get_nuclides/01_120cm_280d/Job.qsub
python_scripts/get_nuclides/01_120cm_280d/JobSimpleTSU.qsub
python_scripts/get_nuclides/01_120cm_280d/JobTSU.qsub
python_scripts/get_nuclides/01_120cm_280d/restart.sh
python_scripts/get_nuclides/01_120cm_280d/Shuffling.py
python_scripts/get_nuclides/01_120cm_280d/tmux_layout.sh
python_scripts/get_nuclides/01_120cm_280d/wh_lfr
python_scripts/get_nuclides/01_120cm_280d/input/appendix.inp
python_scripts/get_nuclides/01_120cm_280d/input/fa.inp
python_scripts/get_nuclides/01_120cm_280d/input/fuel.inp
python_scripts/get_nuclides/01_120cm_280d/input/materials.inp
python_scripts/get_nuclides/01_120cm_280d/input/pins.inp
python_scripts/get_nuclides/01_120cm_280d/input/stuctural_mat.inp
python_scripts/get_nuclides/01_120cm_280d/input/120cm/core_3d.inp
python_scripts/get_nuclides/01_120cm_280d/input/120cm/mvol.inp
python_scripts/get_nuclides/01_120cm_280d/input/222cm/core_3d.inp
python_scripts/get_nuclides/01_120cm_280d/input/222cm/mvol.inp
python_scripts/get_nuclides/01_120cm_280d/input/lp/core_lp_SF1bis.inp
python_scripts/get_nuclides/01_120cm_280d/input/lp/core_lp_SF3.inp
python_scripts/get_nuclides/01_120cm_280d/input/lp/core_lp_SF4.inp
.gitignore
python_scripts/get_nuclides/02_120cm_400d/fuel.inp
python_scripts/get_nuclides/02_120cm_400d/get_keff.py
python_scripts/get_nuclides/02_120cm_400d/hosts_olds
python_scripts/get_nuclides/02_120cm_400d/Job.qsub
python_scripts/get_nuclides/02_120cm_400d/JobSimpleTSU.qsub
python_scripts/get_nuclides/02_120cm_400d/JobTSU.qsub
python_scripts/get_nuclides/02_120cm_400d/restart.sh
python_scripts/get_nuclides/02_120cm_400d/Shuffling.py
python_scripts/get_nuclides/02_120cm_400d/tmux_layout.sh
python_scripts/get_nuclides/02_120cm_400d/wh_lfr
python_scripts/get_nuclides/02_120cm_400d/input/appendix.inp
python_scripts/get_nuclides/02_120cm_400d/input/fa.inp
python_scripts/get_nuclides/02_120cm_400d/input/fuel.inp
python_scripts/get_nuclides/02_120cm_400d/input/materials.inp
python_scripts/get_nuclides/02_120cm_400d/input/pins.inp
python_scripts/get_nuclides/02_120cm_400d/input/stuctural_mat.inp
python_scripts/get_nuclides/02_120cm_400d/input/120cm/core_3d.inp
python_scripts/get_nuclides/02_120cm_400d/input/120cm/mvol.inp
python_scripts/get_nuclides/02_120cm_400d/input/222cm/core_3d.inp
python_scripts/get_nuclides/02_120cm_400d/input/222cm/mvol.inp
python_scripts/get_nuclides/02_120cm_400d/input/lp/core_lp_SF1bis.inp
python_scripts/get_nuclides/02_120cm_400d/input/lp/core_lp_SF3.inp
python_scripts/get_nuclides/02_120cm_400d/input/lp/core_lp_SF4.inp

py_analysis_scripts/compare_nuclides/02_400d/fuel.inp
py_analysis_scripts/compare_nuclides/02_400d/get_keff.py
py_analysis_scripts/compare_nuclides/02_400d/hosts_olds
py_analysis_scripts/compare_nuclides/02_400d/Job.qsub
py_analysis_scripts/compare_nuclides/02_400d/JobSimpleTSU.qsub
py_analysis_scripts/compare_nuclides/02_400d/JobTSU.qsub
py_analysis_scripts/compare_nuclides/02_400d/restart.sh
py_analysis_scripts/compare_nuclides/02_400d/Shuffling.py
py_analysis_scripts/compare_nuclides/02_400d/tmux_layout.sh
py_analysis_scripts/compare_nuclides/02_400d/wh_lfr
py_analysis_scripts/compare_nuclides/02_400d/input/appendix.inp
py_analysis_scripts/compare_nuclides/02_400d/input/fa.inp
py_analysis_scripts/compare_nuclides/02_400d/input/fuel.inp
py_analysis_scripts/compare_nuclides/02_400d/input/materials.inp
py_analysis_scripts/compare_nuclides/02_400d/input/pins.inp
py_analysis_scripts/compare_nuclides/02_400d/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/02_400d/input/120cm/core_3d.inp
py_analysis_scripts/compare_nuclides/02_400d/input/120cm/mvol.inp
py_analysis_scripts/compare_nuclides/02_400d/input/222cm/core_3d.inp
py_analysis_scripts/compare_nuclides/02_400d/input/222cm/mvol.inp
py_analysis_scripts/compare_nuclides/02_400d/input/lp/core_lp_SF1bis.inp
py_analysis_scripts/compare_nuclides/02_400d/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/02_400d/input/lp/core_lp_SF4.inp
py_analysis_scripts/compare_nuclides/01_280d/fuel.inp
py_analysis_scripts/compare_nuclides/01_280d/get_keff.py
py_analysis_scripts/compare_nuclides/01_280d/hosts_olds
py_analysis_scripts/compare_nuclides/01_280d/Job.qsub
py_analysis_scripts/compare_nuclides/01_280d/JobSimpleTSU.qsub
py_analysis_scripts/compare_nuclides/01_280d/JobTSU.qsub
py_analysis_scripts/compare_nuclides/01_280d/restart.sh
py_analysis_scripts/compare_nuclides/01_280d/Shuffling.py
py_analysis_scripts/compare_nuclides/01_280d/tmux_layout.sh
py_analysis_scripts/compare_nuclides/01_280d/wh_lfr
py_analysis_scripts/compare_nuclides/01_280d/input/appendix.inp
py_analysis_scripts/compare_nuclides/01_280d/input/fa.inp
py_analysis_scripts/compare_nuclides/01_280d/input/fuel.inp
py_analysis_scripts/compare_nuclides/01_280d/input/materials.inp
py_analysis_scripts/compare_nuclides/01_280d/input/pins.inp
py_analysis_scripts/compare_nuclides/01_280d/input/stuctural_mat.inp
py_analysis_scripts/compare_nuclides/01_280d/input/120cm/core_3d.inp
py_analysis_scripts/compare_nuclides/01_280d/input/120cm/mvol.inp
py_analysis_scripts/compare_nuclides/01_280d/input/222cm/core_3d.inp
py_analysis_scripts/compare_nuclides/01_280d/input/222cm/mvol.inp
py_analysis_scripts/compare_nuclides/01_280d/input/lp/core_lp_SF1bis.inp
py_analysis_scripts/compare_nuclides/01_280d/input/lp/core_lp_SF3.inp
py_analysis_scripts/compare_nuclides/01_280d/input/lp/core_lp_SF4.inp
py_analysis_scripts/get_absKeff/K-effs.csv
py_analysis_scripts/get_BU_data/DischargedFuel_nuclides.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_0.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_200.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_450.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_50.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_400.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_700.csv
py_analysis_scripts/hex_plot/FA_pwr_vs_dist_1050.csv
